*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: url('../img/cork.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#goldie:before {
  content: url('../img/goldie.png');
  position: relative;
  top: 125px;
  left: 50px;
}

.polaroid:before {
  position: absolute;
  content: url('../img/polaroid.png');
  top: 20px;
  left: -50px;
}

.pin:before {
  content: url('../img/red-pin.png');
  position: absolute;
  top: 20px;
  left: 300px;
}
